@using Paup_2021_ServisVozila.Models
@using Paup_2021_ServisVozila.Misc
@model List<MarkeAutomobili>
@{
    ViewBag.Title = "Početna stranica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Auto servis GAZZZ</h1>
    <p class="lead">Baza servisa</p>
    @if (!User.Identity.IsAuthenticated) 
    { 
        <p ><strong>Molimo da se logirate ili registrirate za potpuni pristup stranici</strong></p>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Servis je dostupan za sljedaće marke vozila</h4>
        <div class="col-md-6">
            <table class="table-condensed">
                <tbody>
                    @foreach(var marka in Model)
                    { 
                        <tr>
                            <td>@marka.Marke</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>