@{
    ViewBag.Title = "Početna stranica";
}

<div class="jumbotron">
    <h1>Auto servis</h1>
    <p class="lead">Baza servisa</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>O servisu</h2>
        <p>
            test
        </p>
        <p><a class="btn btn-default" href="">LOGIN</a></p>
        <p><a class="btn btn-default" href="">REGISTRACIJA</a></p>
    </div>
    <div class="col-md-6">
        <h2>O servisu</h2>
        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
        <p><a class="btn btn-default" href="">test</a></p>
    </div>
</div>