
@{
    ViewBag.Title = "Status brisanja stavke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-success" role="alert">Podaci uspješno izbrisani!</div>

@Html.ActionLink("Povratak na popis računa", "Popis", "Racun")